page-home {
  ::-webkit-scrollbar {
                        display: none !important;
                    }

}

ion-slides{height: 50%;}
/*.content{
  background-color: #c8c8d1;
}*/
.btnHome{
height: 85px;
margin: 0;
}

.alert-head{
  overflow-y: scroll;
}
.imgHome{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}
