<ion-header>
  <ion-navbar color="headerColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Setores - {{ myMonth }} / {{ myYear }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Areas</h3>
      <canvas #doughnutCanvas></canvas>

      <ion-card>
        <ion-card-header>
            Pesquisar ano/mês diferente
        </ion-card-header>

          <ion-card-content style="padding: 0">
            <ion-grid style="padding: 0">

              <ion-row>
                <ion-col col-6>
                  <ion-item item-left>
                    <ion-label stacked>Ano:</ion-label>
                    <ion-datetime displayFormat="YYYY" [(ngModel)]="anoDif" placeholder="Selecione" min="2003"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item item-right>
                    <ion-label stacked>Mês:</ion-label>
                    <ion-select [(ngModel)]="mesDif" placeholder="Selecione">
                      <ion-option>1</ion-option>
                      <ion-option>2</ion-option>
                      <ion-option>3</ion-option>
                      <ion-option>4</ion-option>
                      <ion-option>5</ion-option>
                      <ion-option>6</ion-option>
                      <ion-option>7</ion-option>
                      <ion-option>8</ion-option>
                      <ion-option>9</ion-option>
                      <ion-option>10</ion-option>
                      <ion-option>11</ion-option>
                      <ion-option>12</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
        <button bottom ion-button full small primary color="purple" (click)="buscarComAnoMesDiferente()">Buscar</button>
      </ion-card-content>
    </ion-card>
  <!--  <ion-list>
         <ion-item *ngFor="let area of lstDBAreas">
                 {{area.codArea}}{{area.descArea}}
         </ion-item>
    </ion-list>-->
<ion-card>
  <ion-card-header>
  Pesquisar o Setor
  </ion-card-header>
  <ion-card-content style="padding: 0">
    <ion-item>
    <ion-select placeholder="Selecione o setor" (ionChange)="openPageSetores()" [(ngModel)]="setorSelecionado">
      <ion-option *ngFor="let setor of lstDBAreas">{{setor.descArea}}</ion-option>
    </ion-select>
  </ion-item>
  </ion-card-content>
</ion-card>


</ion-content>
